:root {
  --black: #1E1A24;
  --white-paper: #F8F3EC;
  --white: #F1ECE6;
  --light-green: #C1E4DC;
  --light-blue: #C7DCFE;
  --light-purple: #DAD4FE;
  --light-pink: #F6D3FF;
  --light-red: #FFD9D3;
  --light-yellow: #FFF0D3;
  --green: #089173;
  --blue: #1F72F9;
  --purple: #6A51FB;
  --pink: #DB50FE;
  --red: #FE6850;
  --yellow: #FEC350;
}
