:root {
  // Colors
  --black: #1E1A24;
  --white-paper: #F1ECE6;
  --white: #F8F3EC;
  --white-basic: #FFFFFF;
  --light-green: #C1E4DC;
  --light-blue: #C7DCFE;
  --light-cyan: #C7ECF7;
  --light-purple: #DAD4FE;
  --light-pink: #F6D3FF;
  --light-red: #FFD9D3;
  --light-yellow: #FFF0D3;
  --green: #089173;
  --blue: #1F72F9;
  --purple: #6A51FB;
  --pink: #DB50FE;
  --red: #FE6850;
  --yellow: #FEC350;
  --gray: #8F806D;
  --brown: #C2AF98;
  --bone-gray: #e6ded4;
  --lavender-gray: #95929b;
  --image-caption: #8F806D;

  // Sizes / Dimensions
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 3rem;
  --size-11: 4rem;
  --size-12: 8rem;
  --size-13: 16rem;

  --diary-card-width: 21.25rem;
  --diary-card-teaser-width: 17.5rem;
  --content-width: 94.5rem;
  --content-sub-width: 43.5rem;
  --map-height: 39.5rem;

  // Spacing
  --spacing-1: 0.0625rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 0.75rem;
  --spacing-5: 1rem;
  --spacing-6: 1.25rem;
  --spacing-7: 1.5rem;
  --spacing-8: 1.75rem;
  --spacing-9: 2rem;
  --spacing-10: 2.25rem;
  --spacing-11: 2.5rem;
  --spacing-12: 2.75rem;
  --spacing-13: 3.25rem;
  --spacing-14: 3.5rem;

  // Page related
  --page-margin: 5rem;
  // Used for diary page + about text panel
  --inner-page-padding: 3.75rem;
  --inner-page-width: 46rem;

  // Radius
  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 0.75rem;
  --border-radius-4: 1rem;
  --border-radius-5: 1.25rem;
  --border-radius-6: 3rem;
  --border-radius-7: 50%;

  // Shadows
  --card-shadow: 0 1.875rem 2.5rem 0 rgba(0, 0, 0, 0.12);

  // Transitions
  --transition-1: all 0.12s ease;
  --transition-2: all 0.75s ease;
  --transition-3: all 0.5s ease;
}

body {
  font-family: "Hanken Grotesk";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 200%;
  background-color: var(--white-paper);
  color: var(--black);
}

.font-h1 {
  font-family: "Hanken Grotesk";
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 100%;
}

.font-h2 {
  font-family: "Hanken Grotesk";
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
}

.font-body-m {
  font-family: "Hanken Grotesk";
  font-size: 1rem;
  font-weight: 500;
  line-height: 200%;
}

// Note: Links use font-body-l as well
.font-body-l {
  font-family: "Hanken Grotesk";
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 180%;
}

// Used for brand logo title
.font-brand {
  font-family: 'Familjen Grotesk';
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 90%;
  color: var(--purple);
}

// TODO: Move to the button component?
.font-btn-text {
  font-family: "Hanken Grotesk";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 100%;
}

// Note: Per type different color
.annotation-link {
  @extend .font-body-m;
  text-decoration-line: underline;

  &.green {
    color: var(--green);
  }

  &.purple {
    color: var(--purple);
  }

  &.blue {
    color: var(--blue);
  }

  &.red {
    color: var(--red);
  }
}

/**
 * Generic Layout styles
 */
.content-wrapper {
  @include flex-column;
  align-items: center;
}

.content-container {
  width: calc(100% - 4 * var(--spacing-7));
  max-width: var(--content-width);
}

.content-sub-container {
  max-width: var(--content-sub-width);
  width: 100%;
}

/**
 * Transition styles
 */
.fade-enter-active,
.fade-leave-active {
  transition: var(--transition-2);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
