@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin sm-screen-down {
  @media screen and (max-width: 64rem) {
    @content;
  }
}

@mixin sm-screen-up {
  @media screen and (min-width: 64rem) {
    @content;
  }
}

@mixin xs-screen-down {
  @media screen and (max-width: 48rem) {
    @content;
  }
}
